.story-card{
    display: none; /*Hide story card stuff by default*/

    position: absolute; 
    z-index: 10; /*Make sure it appears above other elements*/

    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%); /*Center the card on the screen*/

    width: 60%;
    background-color: rgba(0,0,0,0.95); /*Semi-transparent black background*/
    border: 1px solid white;
    color: white;
    padding: 40px;
    font-family: 'Courier New', monospace;
    text-align: center;
    box-shadow: 0 0 50px 20px black; /*Glow effect*/
}
canvas{
    display: block; 
}
body, html{
    margin: 0;
    padding: 0;
    overflow: hidden; /*Prevent scrollbars*/
    width: 100%;
    height: 100%;
}

#arc-label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Center the label on the screen*/

    color: white;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    text-align: center;
    pointer-events: none; /*Make sure it doesn't interfere with mouse events*/
    text-shadow: 0 0 10px rgba(255,255,255,0.8); /*Glow effect*/
    z-index: 5; /*Ensure it appears above other elements*/
}

#arc-label small{
    display: block;
    font-size: 0.8em;
    font-style: italic;
    font-weight: normal;
    margin-top: 5px;
    color: #cccccc;
}